# Titanic Survival Rate Predictions

### Importing packages

In [270]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

### Explorating Data

In [271]:
# Importing data csv as pandas df.
raw_train = pd.read_csv('train.csv')
raw_test = pd.read_csv('test.csv')

In [272]:
# General overview of the data
raw_train.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

In [273]:
# General information.
raw_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [274]:
# Null values. Seems like we'll have some null values to handle in Age, Cabin, Fare and Embarked.
print(raw_train.isnull().sum())
print(raw_test.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [275]:
raw_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [276]:
# There are no duplicates in out datasets.
dup_train = raw_train.duplicated().any()
dup_test = raw_test.duplicated().any()
print(dup_train)
print(dup_test)

False
False

In [277]:
# Splitting out master train file into train and valid 80/20 in order to be able to measure performance.
x = raw_train.drop(["Survived"],axis=1)
y = pd.DataFrame(raw_train["Survived"])
x_train, x_valid, y_train, y_valid = train_test_split(x, y, test_size=0.20, random_state=8)

### Data cleaning

In [278]:
# We'll replace NaN values for Age, Fare and Embarked. Cabin has too many NaN to be useful in our models.
# Where applicable, we'll always use the same values calculated for train in test. To avoid leakage.

x_train["Age"] = x_train["Age"].fillna(x_train["Age"].median())
x_valid["Age"] = x_valid["Age"].fillna(x_train["Age"].median())
raw_test["Age"] = raw_test["Age"].fillna(x_train["Age"].median())

x_train["Embarked"] = x_train["Embarked"].fillna(x_train["Embarked"].mode()[0])
x_valid["Embarked"] = x_valid["Embarked"].fillna(x_train["Embarked"].mode()[0])
raw_test["Embarked"] = raw_test["Embarked"].fillna(x_train["Embarked"].mode()[0])

x_train["Fare"] = x_train["Fare"].fillna(x_train["Fare"].mean())
x_valid["Fare"] = x_valid["Fare"].fillna(x_train["Fare"].mean())
raw_test["Fare"] = raw_test["Fare"].fillna(x_train["Fare"].mean())

x_train['Cabin'].fillna('Missing', inplace=True)
x_valid['Cabin'].fillna('Missing', inplace=True)
raw_test['Cabin'].fillna('Missing', inplace=True)

In [279]:
print(x_train.isnull().sum())
print(x_valid.isnull().sum())
print(raw_test.isnull().sum())

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64
PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64
PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [280]:
print(x_train.head(10))

     PassengerId  Pclass                               Name     Sex   Age  \
768          769       3                Moran, Mr. Daniel J    male  29.0
387          388       2                   Buss, Miss. Kate  female  36.0
823          824       3                 Moor, Mrs. (Beila)  female  27.0
778          779       3            Kilgannon, Mr. Thomas J    male  29.0
157          158       3                    Corn, Mr. Harry    male  30.0
661          662       3                  Badt, Mr. Mohamed    male  40.0
392          393       3       Gustafsson, Mr. Johan Birger    male  28.0
57            58       3                Novel, Mr. Mansouer    male  28.5
863          864       3  Sage, Miss. Dorothy Edith "Dolly"  female  29.0
250          251       3             Reed, Mr. James George    male  29.0

     SibSp  Parch           Ticket     Fare    Cabin Embarked
768      1      0           371110  24.1500  Missing        Q
387      0      0            27849  13.0000  Missing        S
823      0      1           392096  12.4750     E121        S
778      0      0            36865   7.7375  Missing        Q
157      0      0  SOTON/OQ 392090   8.0500  Missing        S
661      0      0             2623   7.2250  Missing        C
392      2      0          3101277   7.9250  Missing        S
57       0      0             2697   7.2292  Missing        C
863      8      2         CA. 2343  69.5500  Missing        S
250      0      0           362316   7.2500  Missing        S

In [281]:
#Creating the label encoder
encoder_c = LabelEncoder()
encoder_e = LabelEncoder()

#Fitting the encoder on the raw_train['Cabin'] column
encoder_c.fit(pd.concat([x_train['Cabin'], x_valid['Cabin'], raw_test['Cabin']]))
encoder_e.fit(x_train['Embarked'])

#Transforming the x_train['Cabin'], x_valid['Cabin'] and raw_test['Cabin'] columns using the fitted encoder
x_train['Cabin'] = encoder_c.transform(x_train['Cabin'])
x_valid['Cabin'] = encoder_c.transform(x_valid['Cabin'])
raw_test['Cabin'] = encoder_c.transform(raw_test['Cabin'])

x_train['Embarked'] = encoder_e.transform(x_train['Embarked'])
x_valid['Embarked'] = encoder_e.transform(x_valid['Embarked'])
raw_test['Embarked'] = encoder_e.transform(raw_test['Embarked'])
x_train.head(50)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
768,769,3,"Moran, Mr. Daniel J",male,29.0,1,0,371110,24.1500,185,1
387,388,2,"Buss, Miss. Kate",female,36.0,0,0,27849,13.0000,185,2
823,824,3,"Moor, Mrs. (Beila)",female,27.0,0,1,392096,12.4750,150,2
778,779,3,"Kilgannon, Mr. Thomas J",male,29.0,0,0,36865,7.7375,185,1
157,158,3,"Corn, Mr. Harry",male,30.0,0,0,SOTON/OQ 392090,8.0500,185,2
661,662,3,"Badt, Mr. Mohamed",male,40.0,0,0,2623,7.2250,185,0
392,393,3,"Gustafsson, Mr. Johan Birger",male,28.0,2,0,3101277,7.9250,185,2
57,58,3,"Novel, Mr. Mansouer",male,28.5,0,0,2697,7.2292,185,0
863,864,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,29.0,8,2,CA. 2343,69.5500,185,2
250,251,3,"Reed, Mr. James George",male,29.0,0,0,362316,7.2500,185,2
302,303,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,LINE,0.0000,185,2
76,77,3,"Staneff, Mr. Ivan",male,29.0,0,0,349208,7.8958,185,2
740,741,1,"Hawksford, Mr. Walter James",male,29.0,0,0,16988,30.0000,137,2
421,422,3,"Charters, Mr. David",male,21.0,0,0,A/5. 13032,7.7333,185,1
163,164,3,"Calic, Mr. Jovo",male,17.0,0,0,315093,8.6625,185,2
345,346,2,"Brown, Miss. Amelia ""Mildred""",female,24.0,0,0,248733,13.0000,181,2
93,94,3,"Dean, Mr. Bertram Frank",male,26.0,1,2,C.A. 2315,20.5750,185,2
652,653,3,"Kalvik, Mr. Johannes Halvorsen",male,21.0,0,0,8475,8.4333,185,2
873,874,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,185,2
318,319,1,"Wick, Miss. Mary Natalie",female,31.0,0,2,36928,164.8667,100,2
273,274,1,"Natsch, Mr. Charles H",male,37.0,0,1,PC 17596,29.7000,69,0
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,185,2
674,675,2,"Watson, Mr. Ennis Hastings",male,29.0,0,0,239856,0.0000,185,2
167,168,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.0,1,4,347088,27.9000,185,2
442,443,3,"Petterson, Mr. Johan Emil",male,25.0,1,0,347076,7.7750,185,2
245,246,1,"Minahan, Dr. William Edward",male,44.0,2,0,19928,90.0000,102,1
538,539,3,"Risien, Mr. Samuel Beard",male,29.0,0,0,364498,14.5000,185,2
312,313,2,"Lahtinen, Mrs. William (Anna Sylfven)",female,26.0,1,1,250651,26.0000,185,2
443,444,2,"Reynaldo, Ms. Encarnacion",female,28.0,0,0,230434,13.0000,185,2
331,332,1,"Partner, Mr. Austen",male,45.5,0,0,113043,28.5000,71,2
565,566,3,"Davies, Mr. Alfred J",male,24.0,2,0,A/4 48871,24.1500,185,2
194,195,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.0,0,0,PC 17610,27.7208,38,0
296,297,3,"Hanna, Mr. Mansour",male,23.5,0,0,2693,7.2292,185,0
537,538,1,"LeRoy, Miss. Bertha",female,30.0,0,0,PC 17761,106.4250,185,0
692,693,3,"Lam, Mr. Ali",male,29.0,0,0,1601,56.4958,185,2
92,93,1,"Chaffee, Mr. Herbert Fuller",male,46.0,1,0,W.E.P. 5734,61.1750,154,2
328,329,3,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.0,1,1,363291,20.5250,185,2
710,711,1,"Mayne, Mlle. Berthe Antonine (""Mrs de Villiers"")",female,24.0,0,0,PC 17482,49.5042,110,0
153,154,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,185,2
609,610,1,"Shutes, Miss. Elizabeth W",female,40.0,0,0,PC 17582,153.4625,72,2
79,80,3,"Dowdell, Miss. Elizabeth",female,30.0,0,0,364516,12.4750,185,2
861,862,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,185,2
640,641,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,185,2
606,607,3,"Karaic, Mr. Milan",male,30.0,0,0,349246,7.8958,185,2
521,522,3,"Vovk, Mr. Janko",male,22.0,0,0,349252,7.8958,185,2
753,754,3,"Jonkoff, Mr. Lalio",male,23.0,0,0,349204,7.8958,185,2
643,644,3,"Foo, Mr. Choong",male,29.0,0,0,1601,56.4958,185,2
332,333,1,"Graham, Mr. George Edward",male,38.0,0,1,PC 17582,153.4625,111,2
743,744,3,"McNamee, Mr. Neal",male,24.0,1,0,376566,16.1000,185,2
320,321,3,"Dennis, Mr. Samuel",male,22.0,0,0,A/5 21172,7.2500,185,2

In [282]:
# Dictionary for numerical conversion of column sex
factors = {'male': 0, 'female': 1}

# Applying the same conversion to all df
x_train['Sex'] = x_train['Sex'].map(factors)
x_valid['Sex'] = x_valid['Sex'].map(factors)
raw_test['Sex'] = raw_test['Sex'].map(factors)

In [283]:
x_train.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
768,769,3,"Moran, Mr. Daniel J",0,29.0,1,0,371110,24.1500,185,1
387,388,2,"Buss, Miss. Kate",1,36.0,0,0,27849,13.0000,185,2
823,824,3,"Moor, Mrs. (Beila)",1,27.0,0,1,392096,12.4750,150,2
778,779,3,"Kilgannon, Mr. Thomas J",0,29.0,0,0,36865,7.7375,185,1
157,158,3,"Corn, Mr. Harry",0,30.0,0,0,SOTON/OQ 392090,8.0500,185,2

In [284]:
# Preparing files before starting to fit ML models to the data
passengerid_test = raw_test['PassengerId']
x_train = x_train.drop(['PassengerId','Name', 'Ticket'], axis=1)
x_valid = x_valid.drop(['PassengerId','Name', 'Ticket'], axis=1)

### Decision Tree

In [285]:
dtree = DecisionTreeClassifier(random_state=6, max_depth=5)
dtree.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=5, random_state=6)

In [286]:
predictions_tree = dtree.predict(x_valid)

In [287]:
# Comparaison de la performance sur train vs test afin de reprer un cart de performance important.
print('Training set score: {:.4f}'.format(dtree.score(x_train, y_train)))
print('Test set score: {:.4f}'.format(dtree.score(x_valid, y_valid)))

Training set score: 0.8581
Test set score: 0.8045

In [288]:
# Classification report
print(classification_report(y_valid,predictions_tree))

              precision    recall  f1-score   support

           0       0.81      0.88      0.84       108
           1       0.79      0.69      0.74        71

    accuracy                           0.80       179
   macro avg       0.80      0.78      0.79       179
weighted avg       0.80      0.80      0.80       179

### Random Forest

In [914]:
rfc = RandomForestClassifier(n_estimators=500, random_state=6)
rfc.fit(x_train,y_train)

RandomForestClassifier(n_estimators=500, random_state=6)

In [648]:
predictions_rfc = rfc.predict(x_test)

In [649]:
print(predictions_rfc.mean())
print(y_train.mean())

0.36363636363636365
0.3838383838383838

### Neural Network

In [650]:
x_train['Age'] = StandardScaler().fit_transform(x_train[['Age']])
x_test['Age'] = StandardScaler().fit_transform(x_test[['Age']])

x_train['Fare'] = StandardScaler().fit_transform(x_train[['Fare']])
x_test['Fare'] = StandardScaler().fit_transform(x_test[['Fare']])

In [651]:
columns_to_encode = ['Pclass','SibSp','Parch','Embarked']

train_df_encoded = pd.get_dummies(x_train, columns=columns_to_encode)
test_df_encoded = pd.get_dummies(x_test, columns=columns_to_encode)

In [652]:
train_df_encoded.head()

,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,SibSp_0,SibSp_1,SibSp_2,SibSp_3,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_0,Embarked_1,Embarked_2
0,0,-0.565736,-0.502445,0,0,1,0,1,0,0,...,1,0,0,0,0,0,0,1,0,0
1,1,0.663861,0.786845,1,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,-0.258337,-0.488854,0,0,1,1,0,0,0,...,1,0,0,0,0,0,0,1,0,0
3,1,0.433312,0.420730,1,0,0,0,1,0,0,...,1,0,0,0,0,0,0,1,0,0
4,0,0.433312,-0.486337,0,0,1,1,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [653]:
# Initialize the model
nn = MLPClassifier(hidden_layer_sizes=(100,), max_iter=2000, alpha=0.0001,
                     solver='adam', verbose=10,  random_state=21,tol=0.000000001)

# Fit the model to the training data
nn.fit(x_train, y_train)

Iteration 1, loss = 0.71518787
Iteration 2, loss = 0.68547307
Iteration 3, loss = 0.66272712
Iteration 4, loss = 0.64285876
Iteration 5, loss = 0.62545594
Iteration 6, loss = 0.60968258
Iteration 7, loss = 0.59603509
Iteration 8, loss = 0.58290934
Iteration 9, loss = 0.57145536
Iteration 10, loss = 0.56083268
Iteration 11, loss = 0.55068792
Iteration 12, loss = 0.54170329
Iteration 13, loss = 0.53163854
Iteration 14, loss = 0.52347509
Iteration 15, loss = 0.51556166
Iteration 16, loss = 0.50771419
Iteration 17, loss = 0.50017529
Iteration 18, loss = 0.49355782
Iteration 19, loss = 0.48697126
Iteration 20, loss = 0.48125549
Iteration 21, loss = 0.47555459
Iteration 22, loss = 0.47028133
Iteration 23, loss = 0.46554089
Iteration 24, loss = 0.46136652
Iteration 25, loss = 0.45705378
Iteration 26, loss = 0.45329041
Iteration 27, loss = 0.45004952
Iteration 28, loss = 0.44649878
Iteration 29, loss = 0.44379930
Iteration 30, loss = 0.44104774
Iteration 31, loss = 0.43841510
Iteration 32, loss = 0.43669592
Iteration 33, loss = 0.43457877
Iteration 34, loss = 0.43280862
Iteration 35, loss = 0.43123093
Iteration 36, loss = 0.43063526
Iteration 37, loss = 0.42842107
Iteration 38, loss = 0.42753591
Iteration 39, loss = 0.42658975
Iteration 40, loss = 0.42560009
Iteration 41, loss = 0.42481803
Iteration 42, loss = 0.42415317
Iteration 43, loss = 0.42322384
Iteration 44, loss = 0.42261857
Iteration 45, loss = 0.42183928
Iteration 46, loss = 0.42132033
Iteration 47, loss = 0.42055616
Iteration 48, loss = 0.42000953
Iteration 49, loss = 0.41959315
Iteration 50, loss = 0.41912578
Iteration 51, loss = 0.41870624
Iteration 52, loss = 0.41803762
Iteration 53, loss = 0.41758887
Iteration 54, loss = 0.41712131
Iteration 55, loss = 0.41675379
Iteration 56, loss = 0.41654843
Iteration 57, loss = 0.41613023
Iteration 58, loss = 0.41547932
Iteration 59, loss = 0.41493373
Iteration 60, loss = 0.41465824
Iteration 61, loss = 0.41439375
Iteration 62, loss = 0.41376184
Iteration 63, loss = 0.41365877
Iteration 64, loss = 0.41349257
Iteration 65, loss = 0.41274606
Iteration 66, loss = 0.41227335
Iteration 67, loss = 0.41202786
Iteration 68, loss = 0.41148144
Iteration 69, loss = 0.41119071
Iteration 70, loss = 0.41117037
Iteration 71, loss = 0.41043637
Iteration 72, loss = 0.41038673
Iteration 73, loss = 0.41014801
Iteration 74, loss = 0.40944644
Iteration 75, loss = 0.40902084
Iteration 76, loss = 0.40892558
Iteration 77, loss = 0.40874279
Iteration 78, loss = 0.40831140
Iteration 79, loss = 0.40786465
Iteration 80, loss = 0.40745316
Iteration 81, loss = 0.40747668
Iteration 82, loss = 0.40678200
Iteration 83, loss = 0.40677695
Iteration 84, loss = 0.40626360
Iteration 85, loss = 0.40594662
Iteration 86, loss = 0.40571809
Iteration 87, loss = 0.40550076
Iteration 88, loss = 0.40480678
Iteration 89, loss = 0.40484302
Iteration 90, loss = 0.40462545
Iteration 91, loss = 0.40443463
Iteration 92, loss = 0.40427566
Iteration 93, loss = 0.40368103
Iteration 94, loss = 0.40344080
Iteration 95, loss = 0.40319849
Iteration 96, loss = 0.40293516
Iteration 97, loss = 0.40268474
Iteration 98, loss = 0.40226126
Iteration 99, loss = 0.40205408
Iteration 100, loss = 0.40220578
Iteration 101, loss = 0.40194830
Iteration 102, loss = 0.40131528
Iteration 103, loss = 0.40121931
Iteration 104, loss = 0.40115540
Iteration 105, loss = 0.40089144
Iteration 106, loss = 0.40039894
Iteration 107, loss = 0.40020683
Iteration 108, loss = 0.40006862
Iteration 109, loss = 0.39965080
Iteration 110, loss = 0.39955912
Iteration 111, loss = 0.39958410
Iteration 112, loss = 0.39925735
Iteration 113, loss = 0.39893406
Iteration 114, loss = 0.39860689
Iteration 115, loss = 0.39845997
Iteration 116, loss = 0.39800888
Iteration 117, loss = 0.39801856
Iteration 118, loss = 0.39776740
Iteration 119, loss = 0.39735850
Iteration 120, loss = 0.39724211
Iteration 121, loss = 0.39687160
Iteration 122, loss = 0.39661817
Iteration 123, loss = 0.39670586
Iteration 124, loss = 0.39622856
Iteration 125, loss = 0.39606784
Iteration 126, loss = 0.39596495
Iteration 127, loss = 0.39565451
Iteration 128, loss = 0.39555800
Iteration 129, loss = 0.39532197
Iteration 130, loss = 0.39525234
Iteration 131, loss = 0.39496501
Iteration 132, loss = 0.39475912
Iteration 133, loss = 0.39466576
Iteration 134, loss = 0.39460876
Iteration 135, loss = 0.39429563
Iteration 136, loss = 0.39412104
Iteration 137, loss = 0.39356456
Iteration 138, loss = 0.39353570
Iteration 139, loss = 0.39385948
Iteration 140, loss = 0.39320421
Iteration 141, loss = 0.39282861
Iteration 142, loss = 0.39330598
Iteration 143, loss = 0.39269210
Iteration 144, loss = 0.39250184
Iteration 145, loss = 0.39227647
Iteration 146, loss = 0.39190825
Iteration 147, loss = 0.39221002
Iteration 148, loss = 0.39147927
Iteration 149, loss = 0.39108405
Iteration 150, loss = 0.39142182
Iteration 151, loss = 0.39101923
Iteration 152, loss = 0.39103862
Iteration 153, loss = 0.39120649
Iteration 154, loss = 0.39076293
Iteration 155, loss = 0.39066227
Iteration 156, loss = 0.39008221
Iteration 157, loss = 0.38987184
Iteration 158, loss = 0.38964369
Iteration 159, loss = 0.38992216
Iteration 160, loss = 0.38918769
Iteration 161, loss = 0.38954697
Iteration 162, loss = 0.38920553
Iteration 163, loss = 0.38925763
Iteration 164, loss = 0.38887060
Iteration 165, loss = 0.38861299
Iteration 166, loss = 0.38828941
Iteration 167, loss = 0.38824295
Iteration 168, loss = 0.38794187
Iteration 169, loss = 0.38802923
Iteration 170, loss = 0.38751932
Iteration 171, loss = 0.38811717
Iteration 172, loss = 0.38782289
Iteration 173, loss = 0.38745695
Iteration 174, loss = 0.38783690
Iteration 175, loss = 0.38715917
Iteration 176, loss = 0.38664436
Iteration 177, loss = 0.38640910
Iteration 178, loss = 0.38647412
Iteration 179, loss = 0.38624733
Iteration 180, loss = 0.38622528
Iteration 181, loss = 0.38603387
Iteration 182, loss = 0.38587799
Iteration 183, loss = 0.38575646
Iteration 184, loss = 0.38574727
Iteration 185, loss = 0.38545530
Iteration 186, loss = 0.38542597
Iteration 187, loss = 0.38503983
Iteration 188, loss = 0.38515250
Iteration 189, loss = 0.38462553
Iteration 190, loss = 0.38459283
Iteration 191, loss = 0.38435358
Iteration 192, loss = 0.38435241
Iteration 193, loss = 0.38404071
Iteration 194, loss = 0.38390707
Iteration 195, loss = 0.38392184
Iteration 196, loss = 0.38404437
Iteration 197, loss = 0.38354070
Iteration 198, loss = 0.38331149
Iteration 199, loss = 0.38312433
Iteration 200, loss = 0.38355436
Iteration 201, loss = 0.38297013
Iteration 202, loss = 0.38287309
Iteration 203, loss = 0.38303500
Iteration 204, loss = 0.38273235
Iteration 205, loss = 0.38236402
Iteration 206, loss = 0.38267855
Iteration 207, loss = 0.38274587
Iteration 208, loss = 0.38198248
Iteration 209, loss = 0.38160593
Iteration 210, loss = 0.38173563
Iteration 211, loss = 0.38141545
Iteration 212, loss = 0.38134868
Iteration 213, loss = 0.38164300
Iteration 214, loss = 0.38124175
Iteration 215, loss = 0.38095613
Iteration 216, loss = 0.38088744
Iteration 217, loss = 0.38085394
Iteration 218, loss = 0.38082385
Iteration 219, loss = 0.38032423
Iteration 220, loss = 0.38014676
Iteration 221, loss = 0.38035504
Iteration 222, loss = 0.37998383
Iteration 223, loss = 0.37992395
Iteration 224, loss = 0.37977873
Iteration 225, loss = 0.37958910
Iteration 226, loss = 0.37956144
Iteration 227, loss = 0.37925503
Iteration 228, loss = 0.37935989
Iteration 229, loss = 0.37899482
Iteration 230, loss = 0.37884250
Iteration 231, loss = 0.37895210
Iteration 232, loss = 0.37959172
Iteration 233, loss = 0.37892599
Iteration 234, loss = 0.37840223
Iteration 235, loss = 0.37889537
Iteration 236, loss = 0.37821177
Iteration 237, loss = 0.37827194
Iteration 238, loss = 0.37773001
Iteration 239, loss = 0.37796535
Iteration 240, loss = 0.37764914
Iteration 241, loss = 0.37779561
Iteration 242, loss = 0.37762499
Iteration 243, loss = 0.37711173
Iteration 244, loss = 0.37732549
Iteration 245, loss = 0.37695358
Iteration 246, loss = 0.37678395
Iteration 247, loss = 0.37678216
Iteration 248, loss = 0.37657069
Iteration 249, loss = 0.37655547
Iteration 250, loss = 0.37643672
Iteration 251, loss = 0.37600854
Iteration 252, loss = 0.37625560
Iteration 253, loss = 0.37593763
Iteration 254, loss = 0.37634455
Iteration 255, loss = 0.37600120
Iteration 256, loss = 0.37568176
Iteration 257, loss = 0.37580235
Iteration 258, loss = 0.37585723
Iteration 259, loss = 0.37532431
Iteration 260, loss = 0.37503599
Iteration 261, loss = 0.37483539
Iteration 262, loss = 0.37510956
Iteration 263, loss = 0.37491335
Iteration 264, loss = 0.37475405
Iteration 265, loss = 0.37464707
Iteration 266, loss = 0.37446092
Iteration 267, loss = 0.37435902
Iteration 268, loss = 0.37435242
Iteration 269, loss = 0.37436053
Iteration 270, loss = 0.37407390

Iteration 271, loss = 0.37383434
Iteration 272, loss = 0.37382358
Iteration 273, loss = 0.37369956
Iteration 274, loss = 0.37361888
Iteration 275, loss = 0.37339192
Iteration 276, loss = 0.37331199
Iteration 277, loss = 0.37316095
Iteration 278, loss = 0.37293798
Iteration 279, loss = 0.37301104
Iteration 280, loss = 0.37272511
Iteration 281, loss = 0.37287184
Iteration 282, loss = 0.37266780
Iteration 283, loss = 0.37240260
Iteration 284, loss = 0.37235388
Iteration 285, loss = 0.37275856
Iteration 286, loss = 0.37236653
Iteration 287, loss = 0.37188023
Iteration 288, loss = 0.37219919
Iteration 289, loss = 0.37180961
Iteration 290, loss = 0.37198453
Iteration 291, loss = 0.37190991
Iteration 292, loss = 0.37157896
Iteration 293, loss = 0.37136566
Iteration 294, loss = 0.37150712
Iteration 295, loss = 0.37144343
Iteration 296, loss = 0.37124346
Iteration 297, loss = 0.37127428
Iteration 298, loss = 0.37112430
Iteration 299, loss = 0.37102321
Iteration 300, loss = 0.37083649
Iteration 301, loss = 0.37049229
Iteration 302, loss = 0.37046845
Iteration 303, loss = 0.37031940
Iteration 304, loss = 0.37031183
Iteration 305, loss = 0.37008582
Iteration 306, loss = 0.36995311
Iteration 307, loss = 0.37000426
Iteration 308, loss = 0.36975589
Iteration 309, loss = 0.36976359
Iteration 310, loss = 0.36984247
Iteration 311, loss = 0.36953492
Iteration 312, loss = 0.37000547
Iteration 313, loss = 0.36987129
Iteration 314, loss = 0.36945180
Iteration 315, loss = 0.36977327
Iteration 316, loss = 0.36880464
Iteration 317, loss = 0.37074850
Iteration 318, loss = 0.36927741
Iteration 319, loss = 0.36895858
Iteration 320, loss = 0.36976666
Iteration 321, loss = 0.36946447
Iteration 322, loss = 0.36850211
Iteration 323, loss = 0.36887061
Iteration 324, loss = 0.36848411
Iteration 325, loss = 0.36804413
Iteration 326, loss = 0.36854598
Iteration 327, loss = 0.36793872
Iteration 328, loss = 0.36831329
Iteration 329, loss = 0.36788330
Iteration 330, loss = 0.36744419
Iteration 331, loss = 0.36890775
Iteration 332, loss = 0.36882844
Iteration 333, loss = 0.36741277
Iteration 334, loss = 0.36721139
Iteration 335, loss = 0.36699203
Iteration 336, loss = 0.36733384
Iteration 337, loss = 0.36694036
Iteration 338, loss = 0.36659109
Iteration 339, loss = 0.36743780
Iteration 340, loss = 0.36657729
Iteration 341, loss = 0.36712955
Iteration 342, loss = 0.36747883
Iteration 343, loss = 0.36647807
Iteration 344, loss = 0.36633957
Iteration 345, loss = 0.36630979
Iteration 346, loss = 0.36656285
Iteration 347, loss = 0.36628658
Iteration 348, loss = 0.36620384
Iteration 349, loss = 0.36602186
Iteration 350, loss = 0.36568641
Iteration 351, loss = 0.36565833
Iteration 352, loss = 0.36561710
Iteration 353, loss = 0.36539450
Iteration 354, loss = 0.36563815
Iteration 355, loss = 0.36533620
Iteration 356, loss = 0.36536143
Iteration 357, loss = 0.36500653
Iteration 358, loss = 0.36504833
Iteration 359, loss = 0.36533958
Iteration 360, loss = 0.36489970
Iteration 361, loss = 0.36478246
Iteration 362, loss = 0.36524789
Iteration 363, loss = 0.36505554
Iteration 364, loss = 0.36474434
Iteration 365, loss = 0.36453164
Iteration 366, loss = 0.36437571
Iteration 367, loss = 0.36447351
Iteration 368, loss = 0.36455271
Iteration 369, loss = 0.36421743
Iteration 370, loss = 0.36417697
Iteration 371, loss = 0.36414906
Iteration 372, loss = 0.36396755
Iteration 373, loss = 0.36372273
Iteration 374, loss = 0.36359836
Iteration 375, loss = 0.36356930
Iteration 376, loss = 0.36343643
Iteration 377, loss = 0.36334646
Iteration 378, loss = 0.36356270
Iteration 379, loss = 0.36353474
Iteration 380, loss = 0.36302313
Iteration 381, loss = 0.36323632
Iteration 382, loss = 0.36302916
Iteration 383, loss = 0.36285770
Iteration 384, loss = 0.36268836
Iteration 385, loss = 0.36309896
Iteration 386, loss = 0.36270590
Iteration 387, loss = 0.36276501
Iteration 388, loss = 0.36326028
Iteration 389, loss = 0.36231213
Iteration 390, loss = 0.36241712
Iteration 391, loss = 0.36221469
Iteration 392, loss = 0.36216540
Iteration 393, loss = 0.36274710
Iteration 394, loss = 0.36219139
Iteration 395, loss = 0.36174782
Iteration 396, loss = 0.36176806
Iteration 397, loss = 0.36179390
Iteration 398, loss = 0.36176158
Iteration 399, loss = 0.36140858
Iteration 400, loss = 0.36247888
Iteration 401, loss = 0.36146549
Iteration 402, loss = 0.36126978
Iteration 403, loss = 0.36195500
Iteration 404, loss = 0.36249769
Iteration 405, loss = 0.36155663
Iteration 406, loss = 0.36084077
Iteration 407, loss = 0.36134811
Iteration 408, loss = 0.36152613
Iteration 409, loss = 0.36065792
Iteration 410, loss = 0.36072753
Iteration 411, loss = 0.36091027
Iteration 412, loss = 0.36075802
Iteration 413, loss = 0.36047998
Iteration 414, loss = 0.36009044
Iteration 415, loss = 0.36003585
Iteration 416, loss = 0.36034109
Iteration 417, loss = 0.35984929
Iteration 418, loss = 0.35986559
Iteration 419, loss = 0.36012504
Iteration 420, loss = 0.35981412
Iteration 421, loss = 0.35975208
Iteration 422, loss = 0.35957652
Iteration 423, loss = 0.35981301
Iteration 424, loss = 0.35962351
Iteration 425, loss = 0.35923989
Iteration 426, loss = 0.35919546
Iteration 427, loss = 0.35907115
Iteration 428, loss = 0.35940479
Iteration 429, loss = 0.35904177
Iteration 430, loss = 0.35900658
Iteration 431, loss = 0.35884472
Iteration 432, loss = 0.35898202
Iteration 433, loss = 0.35876052
Iteration 434, loss = 0.35884291
Iteration 435, loss = 0.35857078
Iteration 436, loss = 0.35858774
Iteration 437, loss = 0.35865370
Iteration 438, loss = 0.35874666
Iteration 439, loss = 0.35811921
Iteration 440, loss = 0.35811290
Iteration 441, loss = 0.35824757
Iteration 442, loss = 0.35812743
Iteration 443, loss = 0.35823972
Iteration 444, loss = 0.35815412
Iteration 445, loss = 0.35785179
Iteration 446, loss = 0.35775011
Iteration 447, loss = 0.35745179
Iteration 448, loss = 0.35753020
Iteration 449, loss = 0.35757267
Iteration 450, loss = 0.35755438
Iteration 451, loss = 0.35719926
Iteration 452, loss = 0.35734774
Iteration 453, loss = 0.35707732
Iteration 454, loss = 0.35716526
Iteration 455, loss = 0.35722379
Iteration 456, loss = 0.35683406
Iteration 457, loss = 0.35694461
Iteration 458, loss = 0.35671186
Iteration 459, loss = 0.35695008
Iteration 460, loss = 0.35659489
Iteration 461, loss = 0.35678711
Iteration 462, loss = 0.35654156
Iteration 463, loss = 0.35671870
Iteration 464, loss = 0.35625165
Iteration 465, loss = 0.35642500
Iteration 466, loss = 0.35594584
Iteration 467, loss = 0.35600167
Iteration 468, loss = 0.35607566
Iteration 469, loss = 0.35616289
Iteration 470, loss = 0.35598001
Iteration 471, loss = 0.35568624
Iteration 472, loss = 0.35565890
Iteration 473, loss = 0.35546815
Iteration 474, loss = 0.35555274
Iteration 475, loss = 0.35555397
Iteration 476, loss = 0.35556647
Iteration 477, loss = 0.35543046
Iteration 478, loss = 0.35578231
Iteration 479, loss = 0.35539819
Iteration 480, loss = 0.35509059
Iteration 481, loss = 0.35537858
Iteration 482, loss = 0.35484509
Iteration 483, loss = 0.35520343
Iteration 484, loss = 0.35512340
Iteration 485, loss = 0.35465358
Iteration 486, loss = 0.35451829
Iteration 487, loss = 0.35463088
Iteration 488, loss = 0.35469337
Iteration 489, loss = 0.35435001
Iteration 490, loss = 0.35427259
Iteration 491, loss = 0.35441774
Iteration 492, loss = 0.35419527
Iteration 493, loss = 0.35427450
Iteration 494, loss = 0.35402813
Iteration 495, loss = 0.35422517
Iteration 496, loss = 0.35443123
Iteration 497, loss = 0.35417402
Iteration 498, loss = 0.35398273
Iteration 499, loss = 0.35382613
Iteration 500, loss = 0.35373321
Iteration 501, loss = 0.35352524
Iteration 502, loss = 0.35332514
Iteration 503, loss = 0.35382915
Iteration 504, loss = 0.35356644
Iteration 505, loss = 0.35361373
Iteration 506, loss = 0.35363746
Iteration 507, loss = 0.35313087
Iteration 508, loss = 0.35294626
Iteration 509, loss = 0.35295163
Iteration 510, loss = 0.35314122
Iteration 511, loss = 0.35295353
Iteration 512, loss = 0.35291440
Iteration 513, loss = 0.35266788
Iteration 514, loss = 0.35265276
Iteration 515, loss = 0.35266318
Iteration 516, loss = 0.35256433
Iteration 517, loss = 0.35236746
Iteration 518, loss = 0.35211508
Iteration 519, loss = 0.35259113
Iteration 520, loss = 0.35242821

Iteration 521, loss = 0.35208668
Iteration 522, loss = 0.35202494
Iteration 523, loss = 0.35205277
Iteration 524, loss = 0.35197563
Iteration 525, loss = 0.35218088
Iteration 526, loss = 0.35194746
Iteration 527, loss = 0.35174044
Iteration 528, loss = 0.35196718
Iteration 529, loss = 0.35158386
Iteration 530, loss = 0.35204324
Iteration 531, loss = 0.35185749
Iteration 532, loss = 0.35176543
Iteration 533, loss = 0.35157834
Iteration 534, loss = 0.35168552
Iteration 535, loss = 0.35186045
Iteration 536, loss = 0.35122024
Iteration 537, loss = 0.35104012
Iteration 538, loss = 0.35136941
Iteration 539, loss = 0.35149337
Iteration 540, loss = 0.35094666
Iteration 541, loss = 0.35097031
Iteration 542, loss = 0.35111434
Iteration 543, loss = 0.35097975
Iteration 544, loss = 0.35133027
Iteration 545, loss = 0.35054314
Iteration 546, loss = 0.35046747
Iteration 547, loss = 0.35111755
Iteration 548, loss = 0.35024638
Iteration 549, loss = 0.35060035
Iteration 550, loss = 0.35045021
Iteration 551, loss = 0.35002642
Iteration 552, loss = 0.35035574
Iteration 553, loss = 0.35007332
Iteration 554, loss = 0.35005620
Iteration 555, loss = 0.35001378
Iteration 556, loss = 0.34979896
Iteration 557, loss = 0.34987620
Iteration 558, loss = 0.34972345
Iteration 559, loss = 0.34978813
Iteration 560, loss = 0.34945917
Iteration 561, loss = 0.34969199
Iteration 562, loss = 0.34987331
Iteration 563, loss = 0.34975929
Iteration 564, loss = 0.34936578
Iteration 565, loss = 0.34938123
Iteration 566, loss = 0.34985612
Iteration 567, loss = 0.34956265
Iteration 568, loss = 0.34909817
Iteration 569, loss = 0.34902107
Iteration 570, loss = 0.34923941
Iteration 571, loss = 0.34928244
Iteration 572, loss = 0.34880379
Iteration 573, loss = 0.34909624
Iteration 574, loss = 0.34882010
Iteration 575, loss = 0.34864636
Iteration 576, loss = 0.34831252
Iteration 577, loss = 0.34875693
Iteration 578, loss = 0.34860453
Iteration 579, loss = 0.34855298
Iteration 580, loss = 0.34831243
Iteration 581, loss = 0.34802420
Iteration 582, loss = 0.34859801
Iteration 583, loss = 0.34790171
Iteration 584, loss = 0.34810088
Iteration 585, loss = 0.34889881
Iteration 586, loss = 0.34871726
Iteration 587, loss = 0.34780337
Iteration 588, loss = 0.34772503
Iteration 589, loss = 0.34771815
Iteration 590, loss = 0.34763979
Iteration 591, loss = 0.34752369
Iteration 592, loss = 0.34778250
Iteration 593, loss = 0.34747952
Iteration 594, loss = 0.34824905
Iteration 595, loss = 0.34747403
Iteration 596, loss = 0.34788262
Iteration 597, loss = 0.34710085
Iteration 598, loss = 0.34692271
Iteration 599, loss = 0.34796775
Iteration 600, loss = 0.34803436
Iteration 601, loss = 0.34738516
Iteration 602, loss = 0.34677918
Iteration 603, loss = 0.34696494
Iteration 604, loss = 0.34705076
Iteration 605, loss = 0.34694431
Iteration 606, loss = 0.34698134
Iteration 607, loss = 0.34670719
Iteration 608, loss = 0.34659160
Iteration 609, loss = 0.34675058
Iteration 610, loss = 0.34662834
Iteration 611, loss = 0.34651771
Iteration 612, loss = 0.34632614
Iteration 613, loss = 0.34612717
Iteration 614, loss = 0.34642811
Iteration 615, loss = 0.34627193
Iteration 616, loss = 0.34591341
Iteration 617, loss = 0.34593720
Iteration 618, loss = 0.34715411
Iteration 619, loss = 0.34589985
Iteration 620, loss = 0.34607079
Iteration 621, loss = 0.34605079
Iteration 622, loss = 0.34590186
Iteration 623, loss = 0.34558060
Iteration 624, loss = 0.34568730
Iteration 625, loss = 0.34572254
Iteration 626, loss = 0.34601912
Iteration 627, loss = 0.34572941
Iteration 628, loss = 0.34541405
Iteration 629, loss = 0.34543267
Iteration 630, loss = 0.34534324
Iteration 631, loss = 0.34514055
Iteration 632, loss = 0.34489584
Iteration 633, loss = 0.34500655
Iteration 634, loss = 0.34564713
Iteration 635, loss = 0.34500850
Iteration 636, loss = 0.34539119
Iteration 637, loss = 0.34522992
Iteration 638, loss = 0.34494922
Iteration 639, loss = 0.34470892
Iteration 640, loss = 0.34458038
Iteration 641, loss = 0.34469833
Iteration 642, loss = 0.34481087
Iteration 643, loss = 0.34451427
Iteration 644, loss = 0.34430752
Iteration 645, loss = 0.34445618
Iteration 646, loss = 0.34408977
Iteration 647, loss = 0.34442962
Iteration 648, loss = 0.34445885
Iteration 649, loss = 0.34466825
Iteration 650, loss = 0.34448850
Iteration 651, loss = 0.34456162
Iteration 652, loss = 0.34407018
Iteration 653, loss = 0.34404288
Iteration 654, loss = 0.34394816
Iteration 655, loss = 0.34385376
Iteration 656, loss = 0.34407441
Iteration 657, loss = 0.34401251
Iteration 658, loss = 0.34409387
Iteration 659, loss = 0.34362690
Iteration 660, loss = 0.34359790
Iteration 661, loss = 0.34379075
Iteration 662, loss = 0.34380698
Iteration 663, loss = 0.34323582
Iteration 664, loss = 0.34433672
Iteration 665, loss = 0.34388244
Iteration 666, loss = 0.34319987
Iteration 667, loss = 0.34325169
Iteration 668, loss = 0.34330597
Iteration 669, loss = 0.34334184
Iteration 670, loss = 0.34300675
Iteration 671, loss = 0.34290768
Iteration 672, loss = 0.34304781
Iteration 673, loss = 0.34299779
Iteration 674, loss = 0.34268920
Iteration 675, loss = 0.34279461
Iteration 676, loss = 0.34310422
Iteration 677, loss = 0.34277280
Iteration 678, loss = 0.34275541
Iteration 679, loss = 0.34273657
Iteration 680, loss = 0.34256172
Iteration 681, loss = 0.34244546
Iteration 682, loss = 0.34249179
Iteration 683, loss = 0.34235614
Iteration 684, loss = 0.34229616
Iteration 685, loss = 0.34221578
Iteration 686, loss = 0.34274293
Iteration 687, loss = 0.34254416
Iteration 688, loss = 0.34221806
Iteration 689, loss = 0.34184113
Iteration 690, loss = 0.34200983
Iteration 691, loss = 0.34210632
Iteration 692, loss = 0.34208233
Iteration 693, loss = 0.34189481
Iteration 694, loss = 0.34203991
Iteration 695, loss = 0.34153470
Iteration 696, loss = 0.34175674
Iteration 697, loss = 0.34169783
Iteration 698, loss = 0.34148091
Iteration 699, loss = 0.34197796
Iteration 700, loss = 0.34178568
Iteration 701, loss = 0.34107772
Iteration 702, loss = 0.34154522
Iteration 703, loss = 0.34131997
Iteration 704, loss = 0.34116332
Iteration 705, loss = 0.34119462
Iteration 706, loss = 0.34104311
Iteration 707, loss = 0.34148095
Iteration 708, loss = 0.34130965
Iteration 709, loss = 0.34141033
Iteration 710, loss = 0.34080534
Iteration 711, loss = 0.34082542
Iteration 712, loss = 0.34069412
Iteration 713, loss = 0.34082195
Iteration 714, loss = 0.34086543
Iteration 715, loss = 0.34067266
Iteration 716, loss = 0.34037128
Iteration 717, loss = 0.34065063
Iteration 718, loss = 0.34029657
Iteration 719, loss = 0.34097215
Iteration 720, loss = 0.34059822
Iteration 721, loss = 0.34055293
Iteration 722, loss = 0.34041129
Iteration 723, loss = 0.34033959
Iteration 724, loss = 0.34012205
Iteration 725, loss = 0.34109301
Iteration 726, loss = 0.33964262
Iteration 727, loss = 0.34021299
Iteration 728, loss = 0.34099051
Iteration 729, loss = 0.33993942
Iteration 730, loss = 0.34017746
Iteration 731, loss = 0.34005077
Iteration 732, loss = 0.33985422
Iteration 733, loss = 0.33967755
Iteration 734, loss = 0.34010713
Iteration 735, loss = 0.33968088
Iteration 736, loss = 0.33920572
Iteration 737, loss = 0.34052341
Iteration 738, loss = 0.33979693
Iteration 739, loss = 0.33946451
Iteration 740, loss = 0.33989168
Iteration 741, loss = 0.33897783
Iteration 742, loss = 0.33984336
Iteration 743, loss = 0.33989113
Iteration 744, loss = 0.33945307
Iteration 745, loss = 0.33907329
Iteration 746, loss = 0.33927718
Iteration 747, loss = 0.33928629
Iteration 748, loss = 0.33867422
Iteration 749, loss = 0.33985788
Iteration 750, loss = 0.33903774
Iteration 751, loss = 0.33887970
Iteration 752, loss = 0.33901599
Iteration 753, loss = 0.33882310
Iteration 754, loss = 0.33850176
Iteration 755, loss = 0.33847765
Iteration 756, loss = 0.33840388
Iteration 757, loss = 0.33835868
Iteration 758, loss = 0.33871684
Iteration 759, loss = 0.33828203
Iteration 760, loss = 0.33920055
Iteration 761, loss = 0.33847556
Iteration 762, loss = 0.33835234
Iteration 763, loss = 0.33790367
Iteration 764, loss = 0.33811385
Iteration 765, loss = 0.33825291
Iteration 766, loss = 0.33823517
Iteration 767, loss = 0.33800345
Iteration 768, loss = 0.33783396
Iteration 769, loss = 0.33808893
Iteration 770, loss = 0.33778047
Iteration 771, loss = 0.33780902
Iteration 772, loss = 0.33763398
Iteration 773, loss = 0.33754479
Iteration 774, loss = 0.33837468
Iteration 775, loss = 0.33784908
Iteration 776, loss = 0.33753776
Iteration 777, loss = 0.33759577
Iteration 778, loss = 0.33778950
Iteration 779, loss = 0.33731159
Iteration 780, loss = 0.33787735
Iteration 781, loss = 0.33746249
Iteration 782, loss = 0.33718869
Iteration 783, loss = 0.33716049
Iteration 784, loss = 0.33720260
Iteration 785, loss = 0.33712402
Iteration 786, loss = 0.33701467
Iteration 787, loss = 0.33709559
Iteration 788, loss = 0.33702866
Iteration 789, loss = 0.33693633
Iteration 790, loss = 0.33666690
Iteration 791, loss = 0.33665971
Iteration 792, loss = 0.33655967
Iteration 793, loss = 0.33665734
Iteration 794, loss = 0.33657842

Iteration 795, loss = 0.33680227
Iteration 796, loss = 0.33658660
Iteration 797, loss = 0.33675096
Iteration 798, loss = 0.33642605
Iteration 799, loss = 0.33669443
Iteration 800, loss = 0.33636171
Iteration 801, loss = 0.33645774
Iteration 802, loss = 0.33630474
Iteration 803, loss = 0.33637699
Iteration 804, loss = 0.33622880
Iteration 805, loss = 0.33621596
Iteration 806, loss = 0.33629401
Iteration 807, loss = 0.33588310
Iteration 808, loss = 0.33604859
Iteration 809, loss = 0.33562015
Iteration 810, loss = 0.33612681
Iteration 811, loss = 0.33597556
Iteration 812, loss = 0.33559908
Iteration 813, loss = 0.33587057
Iteration 814, loss = 0.33569055
Iteration 815, loss = 0.33544994
Iteration 816, loss = 0.33554771
Iteration 817, loss = 0.33549889
Iteration 818, loss = 0.33576919
Iteration 819, loss = 0.33495150
Iteration 820, loss = 0.33703042
Iteration 821, loss = 0.33570982
Iteration 822, loss = 0.33590792
Iteration 823, loss = 0.33586422
Iteration 824, loss = 0.33493502
Iteration 825, loss = 0.33522468
Iteration 826, loss = 0.33530108
Iteration 827, loss = 0.33481428
Iteration 828, loss = 0.33492343
Iteration 829, loss = 0.33493288
Iteration 830, loss = 0.33486872
Iteration 831, loss = 0.33478021
Iteration 832, loss = 0.33463294
Iteration 833, loss = 0.33469892
Iteration 834, loss = 0.33466357
Iteration 835, loss = 0.33473497
Iteration 836, loss = 0.33496812
Iteration 837, loss = 0.33461369
Iteration 838, loss = 0.33457655
Iteration 839, loss = 0.33492866
Iteration 840, loss = 0.33459566
Iteration 841, loss = 0.33463177
Iteration 842, loss = 0.33434985
Iteration 843, loss = 0.33493781
Iteration 844, loss = 0.33444646
Iteration 845, loss = 0.33435752
Iteration 846, loss = 0.33440327
Iteration 847, loss = 0.33445911
Iteration 848, loss = 0.33415905
Iteration 849, loss = 0.33468870
Iteration 850, loss = 0.33409136
Iteration 851, loss = 0.33398996
Iteration 852, loss = 0.33393641
Iteration 853, loss = 0.33427078
Iteration 854, loss = 0.33395386
Iteration 855, loss = 0.33403168
Iteration 856, loss = 0.33350756
Iteration 857, loss = 0.33377766
Iteration 858, loss = 0.33374609
Iteration 859, loss = 0.33384238
Iteration 860, loss = 0.33405056
Iteration 861, loss = 0.33444638
Iteration 862, loss = 0.33376608
Iteration 863, loss = 0.33335218
Iteration 864, loss = 0.33352599
Iteration 865, loss = 0.33517863
Iteration 866, loss = 0.33422417
Iteration 867, loss = 0.33346482
Iteration 868, loss = 0.33314039
Iteration 869, loss = 0.33307600
Iteration 870, loss = 0.33368694
Iteration 871, loss = 0.33388745
Iteration 872, loss = 0.33294760
Iteration 873, loss = 0.33396551
Iteration 874, loss = 0.33340134
Iteration 875, loss = 0.33296396
Iteration 876, loss = 0.33272716
Iteration 877, loss = 0.33271654
Iteration 878, loss = 0.33294553
Iteration 879, loss = 0.33263121
Iteration 880, loss = 0.33290847
Iteration 881, loss = 0.33277015
Iteration 882, loss = 0.33287532
Iteration 883, loss = 0.33258741
Iteration 884, loss = 0.33270639
Iteration 885, loss = 0.33258846
Iteration 886, loss = 0.33243111
Iteration 887, loss = 0.33323120
Iteration 888, loss = 0.33300347
Iteration 889, loss = 0.33246909
Iteration 890, loss = 0.33252552
Iteration 891, loss = 0.33218135
Iteration 892, loss = 0.33225114
Iteration 893, loss = 0.33196254
Iteration 894, loss = 0.33228503
Iteration 895, loss = 0.33212706
Iteration 896, loss = 0.33278629
Iteration 897, loss = 0.33146990
Iteration 898, loss = 0.33247403
Iteration 899, loss = 0.33290063
Iteration 900, loss = 0.33349086
Iteration 901, loss = 0.33259300
Iteration 902, loss = 0.33173498
Iteration 903, loss = 0.33160950
Iteration 904, loss = 0.33153008
Iteration 905, loss = 0.33157989
Iteration 906, loss = 0.33221140
Iteration 907, loss = 0.33168019
Iteration 908, loss = 0.33170292
Training loss did not improve more than tol=0.000000 for 10 consecutive epochs. Stopping.

MLPClassifier(max_iter=2000, random_state=21, tol=1e-09, verbose=10)

In [654]:
# Predict on the test set
y_pred = nn.predict(x_train)

In [655]:
print(y_pred.mean())
print(y_train.mean())

0.31425364758698093
0.3838383838383838

In [656]:
final_predictions = pd.DataFrame({'PassengerId': passengerid_test, 'Survived': predictions_rfc})
final_predictions = final_predictions.set_index('PassengerId')
final_predictions

             Survived
PassengerId
892                 0
893                 0
894                 0
895                 1
896                 0
...               ...
1305                0
1306                1
1307                0
1308                0
1309                1

[418 rows x 1 columns]

final_predictions.to_csv('survival_submission.csv')